body {
    background-color: #c09cdf; /* morado claro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 30px;
    position: relative;
}

.header-image img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.butterfly {
    width: 50px;
    position: absolute;
    opacity: 0.7;
}

.butterfly1 { top: 20px; left: 20px; }
.butterfly2 { top: 20px; right: 20px; }
.butterfly3 { bottom: 20px; left: 20px; }
.butterfly4 { bottom: 20px; right: 20px; }

h1 {
    font-size: 3em;
    color: #4b0082;
    margin-bottom: 30px;
}

.section {
    background: white;
    border-radius: 15px;
    margin: 20px auto;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
}

button {
    padding: 12px 25px;
    font-size: 1.2em;
    background-color: #4b0082;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #5e2c91;
}